<div class="back-container" (click)="onNavigateBack()">
  <span class="material-symbols-outlined"> arrow_back </span>
</div>

<div class="tab-switcher">
  <button 
    class="tab-button" 
    [class.active]="activeTab === 'create'"
    (click)="switchTab('create')"
  >
    <span class="material-symbols-outlined">add_circle</span>
    Create New
  </button>
  <button 
    class="tab-button" 
    [class.active]="activeTab === 'clone'"
    (click)="switchTab('clone')"
  >
    <span class="material-symbols-outlined">content_copy</span>
    Clone Existing
  </button>
</div>

@if(activeTab === 'create') {
  <new-course-form />
} @else {
  <clone-course-form />
}
