<div class="question-bank-container">
  <div class="header">
    <h3>Question Bank</h3>
    <button class="close-btn" (click)="onClose()">
      <span class="material-icons">close</span>
    </button>
  </div>
  
  <div class="search-section">
    <div class="search-box">
      <span class="material-icons">search</span>
      <input type="text" [(ngModel)]="searchQuery" placeholder="Search questions...">
    </div>
  </div>


  <div class="question-list">
    <div *ngFor="let item of filteredQuestions" class="question-item">
      <div class="item-content">
        <div class="item-meta">
          <span class="badge type">{{ item.type }}</span>
        </div>
        <div class="item-question">{{ item.questionText }}</div>
      </div>
      <button class="add-btn" (click)="onSelect(item)">
        Import
      </button>
    </div>
    
    <div *ngIf="filteredQuestions.length === 0" class="empty-state">
      No questions found.
    </div>
  </div>
</div>
